@import "tailwindcss";

/* garamond font */
body {
    font-family: "EB Garamond", serif;
}

/* poppins font */
p {
    font-family: "Poppins", sans-serif;
}

/* ------shred style------ */
/* ---container--- */
.container {
    max-width: min(90%, 1170px);
}
