@import "tailwindcss";

/* garamond font */
body {
    font-family: "EB Garamond", serif;
}

/* poppins font */
p,
a,
button,
input {
    font-family: "Poppins", sans-serif;
}

/* ------shred style------ */
/* ---container--- */
.container {
    max-width: min(97%, 1170px);
}